<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title">Calculation History</h5>
    <ul class="list-group list-group-light mt-2">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let cache of caches">
        {{cache}}
        <div>
          <button type="button" class="btn btn-success btn-floating me-1" mdbRipple (click)="loadRecipeCache(cache)" *ngIf="currentCache != cache">
            <i class="fas fa-sync-alt"></i>
          </button>
          <button type="button" class="btn btn-danger btn-floating" mdbRipple (click)="removeRecipeCache(cache)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </li>
    </ul>
    <hr>
    <div class="d-flex justify-content-center input-group" >
      <input type="text" class="form-control" [(ngModel)]="newCacheName"/>
      <button class="btn btn-success" (click)="saveRecipeCache()">Save</button>
    </div>
  </div>
</div>
