<div class="container my-4">
  <div class="row">
    <div class="col-lg-4 col-sm-12 mb-2">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-12 mb-4">
          <app-calculator-info [recipeBook]="recipeBook" [(recipe)]="recipe"></app-calculator-info>
        </div>
        <div class="col-12 col-md-6 col-lg-12 mb-2">
          <app-calculation-history [calculation]="calculation"></app-calculation-history>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
      <app-ingredients-list [recipe]="recipe" [(valueHasChanged)]="valueHasChanged"></app-ingredients-list>
    </div>
    <div class="col-12 mb-4" *ngIf="recipe">
      <app-calculation-results-list [recipe]="recipe" [(valueHasChanged)]="valueHasChanged" [(calculation)]="calculation"></app-calculation-results-list>
    </div>
  </div>
</div>
