<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand text-primary" [routerLink]="['/']">Recipe Calculator</a>


    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="buttonsNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      #buttonsNav="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
        <li class="nav-item mx-2">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" [routerLink]="['/calculators']" routerLinkActive="active">Calculators</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" [routerLink]="['/calculators/recipes/cat-food']" routerLinkActive="active">Cat Food</a>
        </li>

        <li class="d-sm-none">
          <hr class="dropdown-divider mx-1" />
        </li>
      </ul>

      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
